<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>

    <title>GitBan</title>
</head>
<body>
    <%- include('../partials/header'); %>

    <h1>Failed to create board. Maximum amount of boards reached.</h1>
</body>
</html>