<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>

    <link rel="stylesheet" href="./css/index.css">

    <title>GitBan</title>
</head>
<body>
    <%- include('../partials/header'); %>
    
    <div class="content">
        <h1 class="title">Welcome to GitBan</h1>
        <h2 class="subtitle">The GitHub integrated Kanban Board</h2>
    </div>

    <div>
        <button>View My Boards</button>
    </div>

    <form action="/users/<%= userId %>?_method=DELETE" method="POST">
        <button type="submit">Delete Account</button>
    </form>
    
    <script src="./js/index.js"></script>
</body>
</html>