<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>

    <link rel="stylesheet" href="./css/myboards.css">
    <link rel="icon" href="./assets/img/GitBanLogo.svg">
    
    <title>GitBan | My Boards</title>
</head>
<body>   
    <%- include('../partials/header'); %>

    <div>
        <h1>My Boards</h1>
    </div>

    <div id="boardslist" class='board-grid'>
        <% boards.forEach(function(board) { %>
            <%- include('../partials/boardpreview', { id: board._id, title: board.title }); %>
        <% }); %>
        <form action="/myboards/new" method="POST">
            <button class="board" type="submit">
                <h3 class="board-title">Create a new board</h3>
            </button>
        </form>
    </div>

    
    <!--<script src="./js/myboards.js"></script>-->
</body>
</html>