:root {

}

html {
    font-family: Arial, sans-serif;
    color: white;
    position: relative;
}

html::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../../assets/img/james-harrison-vpOeXr5wmR4-unsplash.jpg");
    background-color:rgb(0, 0, 0, 0.7);
    background-blend-mode: multiply;
    filter: blur(1px);
    background-size: cover;
    background-attachment: fixed;
}

body {
    margin: 0;
    position: relative;
    min-height: 100vh;
}

header {
    width: 100%;
}

h2 {
    margin: 0;
}

h3 {
    margin: 0;
}

h4 {
    margin: 0;
}

.flex-container {
    display: flex;
}

.profile-pic-container {
    width: 2.2rem;
    height: 2.2rem;
}

.profile-pic {
    width: 100%;
    height: 100%;
    border: 2px solid white;
    border-radius: 50%;
}


/*--------------------
    Page Head Styles
--------------------*/
.navbar {
    padding: 5px;
    justify-content: space-between;
    background: rgb(0, 0, 0, 0.4);
    color: (255, 255, 255, 0.5);
}

.navbar * {
    font-size: 1rem;
}

.header-title {
    font-size: 1.8rem;

}

.header-container {
    display: flex;
    align-items: center;
}

.header-btn {
    background: rgb(255, 255, 255, 0.5);
    color: white;
    padding: 0.5rem 0.5rem;
    margin: 0.1rem;
    border: none;
}

.profile-btn {
    margin: 5px;
    padding: 0;
    border: none;
    background: transparent;
    display: inline-block;
    vertical-align: middle;
    height: 2.2rem;
    width: 2.2rem;
}


/*--------------------
    Board Head Styles
--------------------*/
.board-header {
    padding: 10px;
    display: flex;
}

.board-opts {
    justify-content: space-between;
}

.board-opts-title {
    margin: 1rem;
}

.board-opts-divider {
    color:rgb(255, 255, 255, 0.8);
    /* font-weight: 900; */
    font-size: 1.5rem;
}

.board-opts-btn {
    margin: 1rem;
    border: none;
    background: rgb(255, 255, 255, 0.9);
    color: black;
    padding: 0.35rem 0.5rem;
    font-size: inherit;
}

.board-opts-members {
    display: flex;
    align-items: center;
    margin: 0 1rem;
}


/*--------------------
    List Styles
--------------------*/
.list-container {
    flex-direction: column;
}

.list {
    margin-left: 1rem;
}

.list-title {
    background: rgb(105, 105, 105);
    width: max-content;
    padding: 0.5rem 0.5rem;
}

.list-card-container {
    padding: 10px;
    width: max-content;
    background: rgb(105, 105, 105);
    gap: 15px;
}

.list-card {
    width: 15rem;
    height: 20rem;
    background: grey;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.list-card > * {
    margin: 0.25rem;
}

.list-card-title {
}

.list-card-text {
}

.list-card-btn {
    text-decoration: none;
    color: inherit; 
}