:root {

}

html {
    font-family: Arial, sans-serif;
    color: white;
    position: relative;
}

html::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../../assets/img/james-harrison-vpOeXr5wmR4-unsplash.jpg");
    background-color:rgb(0, 0, 0, 0.5);
    background-blend-mode: multiply;
    filter: blur(1px);
    background-size: cover;
    background-attachment: fixed;
}

body {
    margin: 0;
    position: relative;
    min-height: 100vh;
}

header {
    width: 100%;
}

h2 {
    margin: 0;
}

.flex-container {
    display: flex;
}


/*--------------------
    Page Head Styles
--------------------*/
.navbar {
    padding: 5px;
    justify-content: space-between;
    background: rgb(0, 0, 0, 0.3);
    color: (255, 255, 255, 0.5);
}

.navbar * {
    font-size: 1rem;
}

.header-title {
    font-size: 1.8rem;

}

.header-container {
    display: flex;
    align-items: center;
}

.header-btn {
    background: rgb(255, 255, 255, 0.5);
    color: white;
    padding: 0.5rem 0.5rem;
    margin: 0.1rem;
    border: none;
}


/*--------------------
    Board Head Styles
--------------------*/
.board-header {
    padding: 10px;
    display: flex;
}

.board-opts {
    justify-content: space-between;
}

.board-opts-members {
    display: flex;
    align-items: center;
}


/*--------------------
    List Styles
--------------------*/

